@import "variables";
* {
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}


/* #Lists
================================================== */
ul { list-style: disc outside; }
ol { list-style: decimal; }
li { display: list-item;
  *display: inline;
  *zoom:1; }

ul,ol {
  margin: 0;
  padding: 0;
}
/* #Images
================================================== */

img {
  max-width: 100%;
  width: auto\9;
  width:auto;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

:focus   { outline: 0; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup { top: -5px;}
sub { bottom: 2px;}

input::-webkit-input-placeholder {opacity:1;}
input::-moz-placeholder          {opacity:1;}
input:-moz-placeholder           {opacity:1;}
input:-ms-input-placeholder      {opacity:1;}
textarea::-webkit-input-placeholder {opacity:1;}
textarea::-moz-placeholder          {opacity:1;}
textarea:-moz-placeholder           {opacity:1;}
textarea:-ms-input-placeholder      {opacity:1;}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: $white;
  margin: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

.layout {
  width: 100%;
  flex: 1 0 auto;
}

.limit {
  width: 100%;
  margin: 0 auto;
  max-width: 1806px;
  position: relative;
  padding: 0 30px;
}